
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

//
// BEGINNING EXAMPLE LAYOUT
//
body{
  background-color: #262831;
}
h2{
  color: #00AC1C;
}
#example{
  color: white;
}
//
// END EXAMPLE LAYOUT
//


////////////////////////////////////////////


//
//BEGINNING LOGIN STYLE
//
label{
  color: #00AC1C;
}
.login-button-holder{
  text-align: center;
}
#login-button{
  background-color: #00AC1C;
  font-weight: bold;
  font-size: 16px;
  float: left;
}
#or-span{
  color: #B2B4B3;
  font-size: 20px;
}
#create-newuser-button{
  float: right;
  background-color: #262831;
  color: #00AC1C;
}
//
//END LOGIN STYLE
//


////////////////////////////////////////////


//
//BEGINNING CREATE USER
//
.create-account-btn{
  background-color: #00AC1C;
  font-weight: bold;
  font-size: 16px;
}
//
//END CREATE USER STYLE
//


////////////////////////////////////////////


//
//BEGINNING CHOOSE GAME SCREEN
//
.gameCover-holder{
  background-color: #00AC1C;
  height: 300px;
}
//
//END CHOOSE GAME SCREEN
//
//MODAL
.createSquadButton{
  display: inline-block;
  background-color: #00AC1C;
  color: #262831;
}
.modal-or{
  text-align: center;
  font-weight: bold;
  font-size: 28px;
}
.findSquadButton{
  display: inline-block;
  background-color: #262831;
  color: #00AC1C;
}
//END MODAL

////////////////////////////////////////////
